{
  "presets": ["@nrwl/react/babel"],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
